{% extends "base.html" %}
{% block content %}
  <h1>Home page</h1>
  <p>Welcome {{ user.get_username }}!</p>
  <h3>Your Tasks</h3>
  {% if user.workers.all %}
    <ul>
      {% for task in user.workers.all %}
        <li>
          <a href="/tasks/{{ task.id }}">{{ task.name }}</a> - {{ task.description }} (Deadline: {{ task.deadline }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no tasks assigned.</p>
  {% endif %}

  <h3>Dynamic content</h3>
  <p>At this moment we have:</p>
  <ul>
    <li><strong>Task</strong> {{ num_task }} </li>
    <li><strong>Workers</strong> {{ num_worker }} </li>
    <li><strong>Free workers</strong> {{ num_free_workers }} </li>
  </ul>
{% endblock %}
