{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
  Workers list
    <a href="{% url 'manager:worker-create' %}" class="btn btn-primary link-to-page">
        Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="search">
  </form>
  {% if workers_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Position</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Team</th>
      </tr>
      {% for worker in workers_list %}
        <tr>
          <td><a href="{% url "manager:worker-detail" pk=worker.id %} ">{{ worker.id }}</a></td>
          <td>{{ worker.position }}</td>
          <td>{{ worker.username }}</td>
          <td>{{ worker.first_name }}</td>
          <td>{{ worker.last_name }}</td>
          <td>
            {% for team in worker.teams.all %}
              {{ team.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              No team
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no workers at that moment.</p>
  {% endif %}
{% endblock %}