{% extends "base.html" %}

{% block content %}
  <h1>
    {{ worker.username }}
  </h1>

  <hr>
  <p><strong>First name:</strong> {{ worker.first_name }} </p>
  <p><strong>Last name:</strong> {{ worker.last_name }} </p>
  <p><strong>Position:</strong> {{ worker.position }} </p>
  <p><strong>Email:</strong> {{ worker.email }} </p>
  
  <hr>
  <div>
    <h4>Tasks:</h4>
    <ul>
      {% for task in worker.workers.all %}
        <li>
          <a href="{% url "manager:task-detail" pk=task.id %} ">{{ task.id }}</a> - {{ task.name }}
        </li>
      {% empty %}
        <li>No tasks assigned to this worker.</li>
      {% endfor %}
    </ul>
  </div>
  
{% endblock %}