{% extends "base.html" %}

{% block content %}
  <h1>
    {{ worker.username }}
    <a href="{% url 'manager:worker-delete' pk=worker.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'manager:worker-update' pk=worker.id %}" class="btn btn-secondary link-to-page">
      Update worker
    </a>
  </h1>

  <hr>
  <p><strong>First name:</strong> {{ worker.first_name }} </p>
  <p><strong>Last name:</strong> {{ worker.last_name }} </p>
  <p><strong>Position:</strong> {{ worker.position }} </p>
  <p><strong>Email:</strong> {{ worker.email }} </p>
  
  <hr>
  <div>
    <h4>Tasks:</h4>

    {% if worker.workers.all %}
        <h5>Incomplete Tasks:</h5>
        <ul>
          {% for task in worker.workers.all %}
            {% if not task.is_completed %}
              <li>
                <a href="{% url 'manager:task-detail' pk=task.id %}">{{ task.id }}</a> - {{ task.name }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <h5>Completed Tasks:</h5>
        <ul>
          {% for task in worker.workers.all %}
            {% if task.is_completed %}
              <li>
                <a href="{% url 'manager:task-detail' pk=task.id %}">{{ task.id }}</a> - <s>{{ task.name }}</s>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
    {% else %}
        <p>No tasks assigned to this worker.</p>
    {% endif %}
</div>

  
{% endblock %}